exportPattern("^[^\\.]")
import(methods)
import(stats)
import(utils)
import(ggplot2)
importFrom(dplyr,"%>%")
import(reshape2)
import(cowplot)
import(scales)
import(reticulate)
importFrom(grDevices, colorRampPalette, pdf, dev.off)
importFrom(graphics, hist)
